body {
  margin: 0;
}
body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 1.5;
}
#document-pane {
  width: 80%;
  margin: 2em auto;
}

.nb-comment-highlight {
  background-color: rgba(255, 204, 1, .2);
}
