body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
#document-pane {
  width: 54%;
  margin: 40px 4%;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 1.5;
}
#annotation-pane {
  width: 30%;
  position: fixed;
  top: 40px;
  right: 4%;
}

#list-pane {
  height: 25vh; /* TODO: temp */
  border: solid 1px #ddd;
}
.list-row {
  padding: 4px;
  cursor: pointer;
}
.list-row:nth-child(even) {
  background-color: #f0f0f0;
}
.list-row:hover {
  background-color: #ffffd0;
}
.list-row.selected {
  background-color: #70a0f0;
}

#thread-pane {
  height: 25vh; /* TODO: temp */
  margin-top: 10px;
}
.thread-row:hover {
  background-color: #f0f0f0;
}
.thread-row > p {
  margin: 0;
  padding: 10px;
}

#editor-pane {
  margin-top: 10px;
}
#editor-header { /* TODO: temp */
  color: #444;
  padding-bottom: 5px;
}
#editor-visibility { /* TODO: temp */
  color: #444;
  font-size: 14px;
  padding-top: 5px;
}
 #editor-request-reply { /* TODO: temp */
  color: #444;
  font-size: 14px;
  padding: 5px 0;
}
#editor-pane button { /* TODO: temp */
  float: right;
}
.ql-mention-list-container {
  max-height: 154px; /* TODO: temp */
  overflow-y: scroll;
}
.ql-mention-list-item > span {
  font-size: 24px;
  margin: 0 5px 0 -5px;
  vertical-align: middle;
}

.nb-highlight {
  fill: rgb(255, 204, 1);
  opacity: 0.2;
}
.nb-highlight:hover {
  fill: red;
}
.nb-highlight.draft {
  fill: rgb(231, 76, 60);
  opacity: 0.3;
}
.nb-highlight.selected {
  fill: rgb(1, 99, 255);
  opacity: 0.3;
}
