body {
  margin: 0;
}
#document-pane {
  width: 54%;
  margin: 4%;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 1.5;
}
#annotation-pane {
  width: 30%;
  position: fixed;
  top: 4%;
  right: 4%;
}
